In [120]:
import pandas as pd
from sklearn.model_selection import train_test_split
from scipy.stats.distributions import gamma
import numpy as np
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB

df = pd.read_csv("data_cafe_prep.csv")

In [2]:
df.head()

,id,name,plus_code,price_level,rating,types,user_ratings_total,lat,lng,closest_metro,closest_metro_km,Quantity of nearest museum,Quantity of nearest art_gallery,Quantity of nearest shopping_mall,Quantity of nearest places_tourist_attraction,Quantity of nearest same establishment,opportunity_take_away,result,"distance_to_center, km"
0,fc621104fe8cf4fcf86a6a5e64dd8ee786b402b8,Sytaya Akula,"{'compound_code': 'W885+6Q Admiralteyskiy, Sai...",NaN,3.9,"['cafe', 'bar', 'restaurant', 'food', 'point_o...",37.0,59.915517,30.309495,['Технологический институт-1'],0.518818,16,4,9,30,94,0,144.3,2.243226
1,775029dc407f64cd8524c05ba8795d96382e4470,Кальянная Hustle,{'compound_code': 'W9F4+VH Tsentralny District...,NaN,5.0,"['cafe', 'bar', 'restaurant', 'food', 'point_o...",27.0,59.924627,30.356393,['Лиговский проспект'],0.437038,36,35,34,52,119,0,135.0,2.080040
2,cc529e7d0038d813d0afd342936be45fff5bf822,Wood bar,{'compound_code': 'W9G2+CW Tsentralny District...,2.0,4.7,"['cafe', 'bar', 'restaurant', 'food', 'point_o...",308.0,59.926036,30.352349,['Достоевская'],0.296679,52,43,49,67,136,0,1447.6,1.805490
3,aaf2e3a83371bdd09259f36f4128ee2c0770553a,Кальянная 1/2 OF YOU,{'compound_code': 'W9J5+9Q Tsentralny District...,NaN,4.7,"['cafe', 'bar', 'restaurant', 'food', 'point_o...",97.0,59.931000,30.359420,['Площадь Восстания'],0.075226,71,49,36,70,119,0,455.9,1.987175
4,45c6c021f483ca5850a1d97463ca43a8adae03ea,Антикафе-кальянная Terra 13 Lounge,{'compound_code': 'W8MP+W2 Tsentralny District...,NaN,4.7,"['cafe', 'bar', 'restaurant', 'food', 'point_o...",24.0,59.934828,30.335022,['Гостиный Двор'],0.111416,134,80,31,182,80,0,112.8,0.594867

In [121]:
data = df.drop(columns = ['id', 'name','plus_code', 'result'])

In [122]:
y = df["user_ratings_total"]

In [123]:
x = df.drop(columns = ['id', 'name','plus_code', 'result', 'user_ratings_total'])
# 'types','closest_metro' - категориальные

In [124]:
#  заменяем категорийные переменные
x["types"] = x['types'].astype('category')
x["closest_metro"] = x['closest_metro'].astype('category')
cat_columns = x.select_dtypes(['category']).columns
x[cat_columns] = x[cat_columns].apply(lambda x: x.cat.codes)

In [125]:
x.fillna(value={'price_level': df.price_level.mean()}, inplace=True)

In [128]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.7, random_state=42)

In [9]:
# байес

In [10]:
gnb = GaussianNB()

In [11]:
y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [12]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
print('Mean absolute error = ', mae)
print('Mean squared error = ', mse)
mape = mean_absolute_percentage_error(y_test, y_pred)
print('Mean absolute percentage error = ', mape)

# плохо

Mean absolute error =  220.5794498381877
Mean squared error =  246348.93381877022
Mean absolute percentage error =  111.41369399755598

In [13]:
'''
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler() 
  
X_train = sc.fit_transform(X_train) 
X_test = sc.transform(X_test)
from sklearn.decomposition import PCA 
  
pca = PCA(n_components = 2) 
  
X_train = pca.fit_transform(X_train) 
X_test = pca.transform(X_test) 
  
explained_variance = pca.explained_variance_ratio_ 
classifier = GaussianNB() 
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test) 
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
print('Mean absolute error = ', mae)
print('Mean squared error = ', mse)
mape = mean_absolute_percentage_error(y_test, y_pred)
print('Mean absolute percentage error = ', mape)
'''
# здесь применение наивного байеса к данным с использованием метода главных компонент, но я не уверенна что это нужно.

"\nfrom sklearn.preprocessing import StandardScaler \nsc = StandardScaler() \n  \nX_train = sc.fit_transform(X_train) \nX_test = sc.transform(X_test)\nfrom sklearn.decomposition import PCA \n  \npca = PCA(n_components = 2) \n  \nX_train = pca.fit_transform(X_train) \nX_test = pca.transform(X_test) \n  \nexplained_variance = pca.explained_variance_ratio_ \nclassifier = GaussianNB() \nclassifier.fit(X_train, y_train)\ny_pred = classifier.predict(X_test) \nmae = mean_absolute_error(y_test, y_pred)\nmse = mean_squared_error(y_test, y_pred)\nprint('Mean absolute error = ', mae)\nprint('Mean squared error = ', mse)\nmape = mean_absolute_percentage_error(y_test, y_pred)\nprint('Mean absolute percentage error = ', mape)\n"

In [14]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()

In [15]:
y_pred = mnb.fit(X_train, y_train).predict(X_test)

In [16]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
print('Mean absolute error = ', mae)
print('Mean squared error = ', mse)
mape = mean_absolute_percentage_error(y_test, y_pred)
print('Mean absolute percentage error = ', mape)

Mean absolute error =  294.3563106796116
Mean squared error =  291275.6627831715
Mean absolute percentage error =  2397.9041364924988

In [17]:
# байесовская сеть

In [130]:
from pomegranate import *
import numpy

In [131]:
X_train["user_rating_total"] = np.array(y_train)

/Users/user/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [132]:

#X = numpy.
#model = BayesianNetwork.from_samples(df_train, algorithm='exact')
train = X_train.values

In [ ]:
model = BayesianNetwork.from_samples(train, algorithm='chow-liu')

In [29]:
X_train.head()

,price_level,rating,types,lat,lng,closest_metro,closest_metro_km,Quantity of nearest museum,Quantity of nearest art_gallery,Quantity of nearest shopping_mall,Quantity of nearest places_tourist_attraction,Quantity of nearest same establishment,opportunity_take_away,"distance_to_center, km",user_rating_total
775,1.914202,4.8,4,59.915441,30.313476,50,0.310577,17,4,9,27,75,0,2.178199,13.0
2556,2.000000,3.8,4,60.052889,30.431894,11,0.671778,0,0,4,0,25,0,14.519504,10.0
1478,1.914202,5.0,4,59.935124,30.438823,20,0.301248,3,4,19,2,20,0,6.395071,2.0
5486,2.000000,4.6,8,60.041939,30.385432,10,1.985760,0,1,4,2,14,0,12.476740,1401.0
1363,2.000000,4.7,4,59.936526,30.324679,9,0.171636,146,72,28,166,100,0,0.259553,685.0

TypeError: object of type 'numpy.float64' has no len()

In [ ]:
predict = []

for j in range(len(X_test.values)):
    for i in range(len(X_test.values[0]) - 1):
        d[f"{i}"] = X_test.values[j][i]
    proba = model.predict_proba(d)
    a = proba[14].parameters[0]
        
    predict.append(sum(k*v for k,v in a.items()))

In [ ]:
mae = mean_absolute_error(y_test, predict)
mse = mean_squared_error(y_test, predict)
print('Mean absolute error = ', mae)
print('Mean squared error = ', mse)
mape = mean_absolute_percentage_error(y_test, predict)
print('Mean absolute percentage error = ', mape)

In [119]:
y_test

5546     150.0
2072      83.0
4768     312.0
1874       1.0
2118      33.0
         ...
1585       1.0
1955     523.0
3152       5.0
34       320.0
4014    1840.0
Name: user_ratings_total, Length: 6180, dtype: float64

In [82]:
d = {}
for i in range(len(X_test.values[0]) - 1):
    d[f"{i}"] = X_test.values[0][i]

In [83]:
d

{'0': 2.0,
 '1': 3.9,
 '2': 8.0,
 '3': 60.05384489999999,
 '4': 30.4270708,
 '5': 11.0,
 '6': 0.958210396642783,
 '7': 0.0,
 '8': 0.0,
 '9': 0.0,
 '10': 0.0,
 '11': 22.0,
 '12': 0.0,
 '13': 14.508166789447232}

In [90]:
d

{'0': 2.0,
 '1': 3.9,
 '2': 8.0,
 '3': 60.05384489999999,
 '4': 30.4270708,
 '5': 11.0,
 '6': 0.958210396642783,
 '7': 0.0,
 '8': 0.0,
 '9': 0.0,
 '10': 0.0,
 '11': 22.0,
 '12': 0.0,
 '13': 14.508166789447232}