In [1]:
import pandas as pd
from geopy.distance import distance

In [2]:
df = pd.read_json('data/Places_spb_list.json')
df.head()

,id,title,coords,subway,categories
0,9922,аэропорт «Пулково»,"{'lat': 59.80149771913452, 'lon': 30.262527461...",Московская,[airports]
1,32706,детский мультимедийный театр-аттракцион Game D...,"{'lat': 59.91124730000013, 'lon': 30.354450500...",Обводный Канал,"[amusement, kids, theatre]"
2,31652,Музей неПравды,"{'lat': 59.92875600000011, 'lon': 30.323043000...",Сенная Площадь,"[amusement, museums]"
3,27249,семейные парки активного отдыха Joki Joya,"{'lat': 59.981708, 'lon': 30.209894}",Старая Деревня,"[amusement, kids, recreation]"
4,27310,игра в реальности «Прятки в темноте»,"{'lat': 59.94955690000017, 'lon': 30.414696100...","Новочеркасская, Чернышевская","[amusement, questroom]"

In [3]:
pd.DataFrame(df.coords.tolist())

            lat        lon
0     59.801498  30.262527
1     59.911247  30.354451
2     59.928756  30.323043
3     59.981708  30.209894
4     59.949557  30.414696
...         ...        ...
3718  59.931626  30.322418
3719  59.975486  30.287361
3720  59.966282  30.310613
3721  59.973370  30.351917
3722  59.953376  30.211143

[3723 rows x 2 columns]

In [4]:
# может это и не надо выносить в отдельные столбцы
df.join(pd.DataFrame(df.coords.tolist()))

,id,title,coords,subway,categories,lat,lon
0,9922,аэропорт «Пулково»,"{'lat': 59.80149771913452, 'lon': 30.262527461...",Московская,[airports],59.801498,30.262527
1,32706,детский мультимедийный театр-аттракцион Game D...,"{'lat': 59.91124730000013, 'lon': 30.354450500...",Обводный Канал,"[amusement, kids, theatre]",59.911247,30.354451
2,31652,Музей неПравды,"{'lat': 59.92875600000011, 'lon': 30.323043000...",Сенная Площадь,"[amusement, museums]",59.928756,30.323043
3,27249,семейные парки активного отдыха Joki Joya,"{'lat': 59.981708, 'lon': 30.209894}",Старая Деревня,"[amusement, kids, recreation]",59.981708,30.209894
4,27310,игра в реальности «Прятки в темноте»,"{'lat': 59.94955690000017, 'lon': 30.414696100...","Новочеркасская, Чернышевская","[amusement, questroom]",59.949557,30.414696
...,...,...,...,...,...,...,...
3718,32275,курсы по флористике Handy Class,"{'lat': 59.93162599999993, 'lon': 30.322417500...","Невский Проспект, Садовая, Сенная Площадь","[workshops, education-centers]",59.931626,30.322418
3719,33044,стеклодувная мастерская на Елагином острове,"{'lat': 59.97548629999996, 'lon': 30.287361300...",Крестовский Остров,"[workshops, education-centers]",59.975486,30.287361
3720,31071,мастерская «Доктор Моб»,"{'lat': 59.966282, 'lon': 30.310613}",,[workshops],59.966282,30.310613
3721,26934,творческая мастерская «Рисовальщик»,"{'lat': 59.97337, 'lon': 30.351917}",Выборгская,"[workshops, education-centers]",59.973370,30.351917
3722,19210,творческая студия Masterklass.info,"{'lat': 59.953376, 'lon': 30.211143}",Приморская,"[workshops, education-centers]",59.953376,30.211143

In [5]:
# места, у которых нет ближайшего метро
df[df['subway'] == '']

,id,title,coords,subway,categories
26,31386,проект «Ахтилахти»,"{'lat': 59.93428019999978, 'lon': 30.335098600...",,"[amusement, recreation]"
30,10157,парк семейного отдыха и экотуризма «Зубровник»,"{'lat': 60.15340251472544, 'lon': 30.460758806...",,"[amusement, kids, attractions, sights, stable,..."
42,4958,контактный зоопарк «Приют Белоснежки»,"{'lat': 59.32094256297638, 'lon': 29.065970577...",,"[amusement, kids]"
45,29968,зоопарк в сосновом лесу «На Лампушке»,"{'lat': 60.573018, 'lon': 30.161591}",,"[amusement, recreation]"
78,30179,сеть спортивно-развлекательных клубов Jump для...,"{'lat': 59.7387802999998, 'lon': 30.6228168999...",,"[amusement, kids]"
...,...,...,...,...,...
3707,9024,театр «So-Tvorenie»,"{'lat': 59.944769, 'lon': 30.36452999999998}",,[theatre]
3710,11524,молодежный театр «Шкиды»,"{'lat': 60.10463, 'lon': 29.97458900000001}",,[theatre]
3711,9009,театр «Минiатюръ»,"{'lat': 59.93176499999999, 'lon': 30.356768}",,[theatre]
3712,11269,театр «Cra3y»,"{'lat': 59.93526299999998, 'lon': 30.334580000...",,[theatre]
3720,31071,мастерская «Доктор Моб»,"{'lat': 59.966282, 'lon': 30.310613}",,[workshops]

In [6]:
# Оставляем только одну станцию метро
df['subway'] = list(map(lambda x: x.split(',')[0].casefold(), df['subway']))
# делаем все названия одного регистра, чтобы было удобнее
df['title'] = df['title'].apply(lambda x: x.casefold())
df.head()

,id,title,coords,subway,categories
0,9922,аэропорт «пулково»,"{'lat': 59.80149771913452, 'lon': 30.262527461...",московская,[airports]
1,32706,детский мультимедийный театр-аттракцион game d...,"{'lat': 59.91124730000013, 'lon': 30.354450500...",обводный канал,"[amusement, kids, theatre]"
2,31652,музей неправды,"{'lat': 59.92875600000011, 'lon': 30.323043000...",сенная площадь,"[amusement, museums]"
3,27249,семейные парки активного отдыха joki joya,"{'lat': 59.981708, 'lon': 30.209894}",старая деревня,"[amusement, kids, recreation]"
4,27310,игра в реальности «прятки в темноте»,"{'lat': 59.94955690000017, 'lon': 30.414696100...",новочеркасская,"[amusement, questroom]"

In [7]:
def distance_to_subway(index):
    try:
        return distance(df.loc[index].coords.values(), 
                     df[df['title'] == f'станция метро «{df.loc[index].subway}»'].iloc[0].coords.values()).km
    except IndexError:
        return None

In [8]:
df['distance_to_subway, km'] = list(map(lambda i: distance_to_subway(i), df.index))

In [9]:
df.head()

,id,title,coords,subway,categories,"distance_to_subway, km"
0,9922,аэропорт «пулково»,"{'lat': 59.80149771913452, 'lon': 30.262527461...",московская,[airports],6.488175
1,32706,детский мультимедийный театр-аттракцион game d...,"{'lat': 59.91124730000013, 'lon': 30.354450500...",обводный канал,"[amusement, kids, theatre]",0.514232
2,31652,музей неправды,"{'lat': 59.92875600000011, 'lon': 30.323043000...",сенная площадь,"[amusement, museums]",0.400332
3,27249,семейные парки активного отдыха joki joya,"{'lat': 59.981708, 'lon': 30.209894}",старая деревня,"[amusement, kids, recreation]",2.663525
4,27310,игра в реальности «прятки в темноте»,"{'lat': 59.94955690000017, 'lon': 30.414696100...",новочеркасская,"[amusement, questroom]",2.237559